.app {
  background-color: #00823d;
  color: white;

  border-radius: 8px;
  width: 7rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  padding: 1rem 2.5rem;
}

@media (max-width: 768px) {
  .app {
    // width: 100%;
    // margin-left: 1rem;
    // margin-right: 1rem;
    // padding: 1rem;

    background-color: #ad1b1b;
  }
}
