/* CSS Rule */

body {
  margin: 5px;
}

.outerDiv {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.notice {
  color: red;
}

.headerDiv {
  margin-bottom: 20px;
}
