.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
}

.count{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 15px;
    font-size: 100px;
    font-weight: 1000;
    color: rgba(118, 176, 118, 0.9);
}

.button{
    position: relative;
    margin: 10px;
    font-size: large;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
