.countryCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.countryFlag {
  width: 500px;
  height: auto;
  margin-bottom: 10px;
}

.countryName {
  margin-top: 0;
  margin-bottom: 10px;
}

.countryDetails p {
  margin: 5px 0;
}
