
.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .box {
    flex: calc(25% - 10px); 
    text-align: center; 
    border: 1px black solid;
    border-radius: 10px;
    margin:3px 3px;
  }

  .flag {
    width: 75%; 
    height: 140px; 
    margin-top: 10px;
    
  }

  .flag:hover{
    width: 85%; 
    height: 145px; 
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  
  .name {
    text-align: center; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
    padding: 0 10px 10px 10px; 
    letter-spacing: 1px;
  }
  