@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Rubik&display=swap");


.genre {
  display: flex;
  align-items: center;

  &__select {
    font-family: "Rubik", sans-serif;
    background: transparent;
    border: 1px solid rgb(216, 91, 83, 0.5);
    padding: 10px 15px;
    margin: 25px 0px;
    border-radius: 14px;
    cursor: pointer;
    color: white;
    width: 170px;
    font-size: 15px;

    &:focus {
      outline: none;
      border-color: rgba(216, 91, 83, 0.5);
    }
  }

  &__icon {
    width: 30px;
    height: auto;
    margin-right: 10px;
  }

  &__option {
    color: black;
    

  }

  &__option--selected {
    color: black;

  }

  @media screen and (min-width: 280px) and (max-width: 499px) {
    &__icon {
      width: 20px;

    }

    &__select {
      padding: 5px 10px;  
      margin: 10px 0;     
      border-radius: 14px;
      cursor: pointer;
      color: white;
      width: 110px;
      font-size: 10px;

      &:focus {
        outline: none;
        border-color: rgba(216, 91, 83, 0.5);
      }
    }

    &__option {
      padding: 5px 10px !important;  // Adjusted padding
      margin: 5px 0 !important;      // Adjusted margin
    }
  }

  @media screen and (min-width: 481px) and (max-width: 712px) {
    &__icon {
      width: 20px;

    }

    &__select {
      padding: 10px 15px;
      margin: 15px 0px;
      border-radius: 14px;
      cursor: pointer;
      color: white;
      width: 110px;
      font-size: 10px;

      &:focus {
        outline: none;
        border-color: rgba(216, 91, 83, 0.5);
      }
    }
  }

  @media only screen and (min-width: 713px) and (max-width: 1024px) {

    &__icon {
      width: 20px;

    }

    &__select {
      padding: 10px 15px;
      margin: 15px 0px;
      border-radius: 14px;
      cursor: pointer;
      color: white;
      width: 110px;
      font-size: 10px;

      &:focus {
        outline: none;
        border-color: rgba(216, 91, 83, 0.5);
      }
    }
  }

  @media only screen and (min-width: 1025px) and (max-width: 1400px) {

    &__icon {
      width: 25px;

    }

    &__select {
      padding: 10px 15px;
      margin: 25px 0px;
      border-radius: 14px;
      cursor: pointer;
      color: white;
      width: 130px;
      font-size: 15px;

      &:focus {
        outline: none;
        border-color: rgba(216, 91, 83, 0.5);
      }
    }
  }

}