.watchlist {
  background-color: black;
  flex-grow: 1;

  &__empty {
    margin-top: 50px;
    color: white;
    font-size: 20px;
    font-family: "Aboreto", sans-serif;
    text-align: start;
  }

  &__button-title {
    padding: 20px 0px;
    border-bottom: 1px solid rgb(216, 91, 83, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 150px 0px 100px 0px;
    width: 100%;
  }

  &__icon {
    width: 25px;
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
    padding: 20px;

    &:hover {
      transform: scale(1.5);
    }
  }

  &__container {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-grow: 1;
    margin: 0px 150px;
  }

  &__list-container {
    width: 100%;
  }


  &__title {
    margin: 0;
    margin-right: 15px;
    color: white;
    font-size: 45px;
    font-family: "Aboreto", sans-serif;
  }

  &__list {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__trial {
    width: 100%;
    padding: 100px 0px;
  }

  &__list-items {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  &__poster {
    width: 180px;
    height: auto;
    border-radius: 5%;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__name {
    text-align: start;
    color: white;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 10px;
    font-family: "Aboreto", sans-serif;
  }

  @media only screen and (min-width: 1060px) and (max-width: 1680px) {
    &__list-container {
      display: flex;
      flex-direction: column;
      align-items: center;

    }

    &__list {
      width: 100%;

    }

    &__poster {
      width: 150px;
    }

    &__list-items {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      width: 100%;
      gap: 20px;

    }


    &__icon {
      width: 25px;
    }

    &__title {
      font-size: 30px;
    }

    &__name {
      font-size: 9px;
    }

    &__button-title {
      padding: 20px 0px;
      margin-top: 150px;
      margin-bottom: 50px;

    }
  }

  @media only screen and (min-width: 481px) and (max-width: 713px) {
    &__container {
      margin: 0px 50px;
    }

    &__list-container {
      display: flex;
      flex-direction: column;

    }

    &__list {
      width: 100%;

    }

    &__poster {
      width: 120px;
      margin-bottom: 10px;
    }

    &__title {
      font-size: 30px;
    }

    &__name {
      font-size: 9px;

    }

    &__icon-box {
      display: flex;
    }


    &__list-items {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
    &__empty {
      font-size: 10px;
    }

    &__button-title {
      padding: 20px 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 150px;
      margin-bottom: 50px;
    }

    &__icon {
      width: 20px;
      padding: 5px;
    }


  }

  @media only screen and (min-width: 713px) and (max-width: 1060px) {

    &__container {
      margin: 0px 75px;
    }

    &__list-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__list {
      width: 100%;

    }

    &__poster {
      width: 120px;
      margin-bottom: 10px;
    }

    &__title {
      font-size: 30px;
    }

    &__name {
      font-size: 9px;

    }

    &__icon-box {
      display: flex;
    }


    &__list-items {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      width: 100%;
      gap: 10px;

    }

    &__empty {
      font-size: 10px;
    }

    &__button-title {
      padding: 20px 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 150px;
      margin-bottom: 50px;
    }

    &__icon {
      width: 20px;
      padding: 5px;
    }


  }

  @media only screen and (min-width: 280px) and (max-width: 490px) {
    &__poster {
      width: 120px;
      margin-bottom: 10px;
    }

    &__title {
      font-size: 20px;

    }

    &__name {
      display: none;

    }

    &__list-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }


    &__icon-box {
      display: flex;
    }

    &__item {
      display: flex;
      align-items: center;
    }

    &__list {
      width: 100%;
      margin-bottom: 20px;
    }

    &__list-items {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      gap: 10px;
    }

    &__empty {
      font-size: 10px;
    }

    &__button-title {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 100px 0px 50px 0px;
      width: 260px;
      padding: 10px 0px;
    }

    &__icon {
      width: 15px;
      padding: 5px;
    }

    &__container {
      margin: 0px 20px;
      justify-content: center;
      align-items: center;
    }
  }
}