.nav {
  display: flex;
  justify-content: center;
}
.link {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  color: black;
  letter-spacing: 2px;
  margin: 20px 0 0 0;
}

.line {
  margin: 0% 35%;
}

hr {
  height: 4px;
  background-color: #1b3c73;
  opacity: 0.5;
}
