@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Rubik&display=swap");

.popular {
  font-family: "Rubik", sans-serif;

  &__gen-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
  }

  &__background {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  &__f-d-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,
        rgb(0, 0, 0, 0.6) 50%,
        rgb(0, 0, 0, 0.5) 75%,
        rgb(0, 0, 0, 0.4) 90%,
        transparent 100%);
  }

  &__f-d-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 150px;
  }

  &__filter {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  &__details {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2);
  }

  &__vote-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  &__slider-box {
    width: 50%;
    height: 100%;
  }

  &__slider-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button-container {
    margin-top: 10px;
  }

  &__title {
    font-size: 30px;
    text-align: start;
    margin: 10px 0px;
  }

  &__overview {
    font-size: 20px;
    line-height: 25px;
  }

  &__genres {
    display: flex;
    align-items: center;
  }

  &__error-message {
    color: #d85b53;
    text-align: center;
  }

  &__img {
    width: 70px;
    height: auto;
    border-radius: 10px;
  }

  &__selected {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: scale(1.1);


  }

  &__movie-item {
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }



  &__vote {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: start;
    padding: 5px 0px;
  }

  &__count {
    display: flex;
    flex-direction: row;
    align-items: start;
    flex: 1;
    text-align: start;
    padding: 5px 0px;
  }


  &__details-divers {
    width: 100%;
    font-size: 13px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    padding: 5px;
  }

  &__title-overlay {
    width: 100%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    z-index: 1;
  }

  &__selected-title {
    font-size: 5rem;
  }


  @media only screen and (min-width: 280px) and (max-width: 499px) {


    &__gen-container {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      display: flex;
      flex-direction: column-reverse;
      background-color: black;
    }

    &__title-overlay {
      display: none;
    }


    &__background-responsive {
      width: 100%;
      position: absolute;
      z-index: -1;
      filter: blur(4px);
    }



    &__f-d-container {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom,
          rgb(0, 0, 0, 0.6) 50%,
          rgb(0, 0, 0, 0.5) 75%,
          rgb(0, 0, 0, 0.4) 80%,
          transparent 100%);
      margin-top: 20px;
      padding-bottom: 50px;
    }

    &__f-d-box {
      margin: 0px 20px;
    }

    &__button-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 0px;

    }

    &__slider-container {
      width: 100%;
      margin-bottom: 0px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    &__title {
      font-size: 15px;
      margin: 10px 0px 0px 0px;
    }

    &__overview {

      font-size: 11px;
      line-height: 13px;
      text-align: justify;
    }

    &__img {
      width: 80px;

    }

    &__vote-details {
      display: flex;
      flex-direction: row;

    }



    &__details-divers {
      width: 100%;
      font-size: 9px;



    }

    &__icon {
      width: 20px;
      height: 20px;
      padding: 5px;
    }


    &__selected-title {
      font-size: 1rem;
    }
  }


  @media screen and (min-width: 500px) and (max-width: 712px) {


    &__gen-container {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      display: flex;
      flex-direction: column-reverse;
      background-color: black;
    }

    &__background-responsive {
      width: 100%;
      position: absolute;
      z-index: -1;
      filter: blur(4px);
    }



    &__title-overlay {

      display: none;

    }






    &__f-d-container {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      height: 70%;
      background: linear-gradient(to bottom,
          rgb(0, 0, 0, 0.6) 50%,
          rgb(0, 0, 0, 0.5) 75%,
          rgb(0, 0, 0, 0.4) 80%,
          transparent 100%);

    }

    &__f-d-box {

      margin: 0px 50px;
    }

    &__slider-container {
      width: 100%;
      height: 45%;
      margin-bottom: 0px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }


    &__title {
      font-size: 16px;

    }

    &__overview {

      font-size: 13px;
      line-height: 20px;
      text-align: justify;
    }

    &__img {
      width: 110px;
      margin: 5px;

    }

    &__vote-details {
      display: flex;
      flex-direction: row;

    }



    &__details-divers {
      width: 100%;
      font-size: 10px;



    }

    &__icon {
      width: 20px;
      height: 20px;
      padding: 5px;
    }


    &__selected {
      border: 2px solid white;


    }

    &__selected-title {
      font-size: 3rem;
    }

  }


  @media only screen and (min-width: 713px) and (max-width: 1024px) {

    &__gen-container {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2;
      display: flex;
      flex-direction: column;
    }


    &__f-d-container {
      width: 100%;
      height: 65%;
      background: linear-gradient(to bottom,
          rgb(0, 0, 0, 0.6) 50%,
          rgb(0, 0, 0, 0.5) 75%,
          rgb(0, 0, 0, 0.4) 80%,
          transparent 100%);
    }

    &__f-d-box {
      margin: 0px 75px;
    }


    &__vote-details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }

    &__slider-container {
      width: 100%;
      height: auto;
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__button-container {
      margin-top: 10px;
    }

    &__title {
      font-size: 20px;
      text-align: start;
      margin: 10px 0px;
    }

    &__overview {
      font-size: 15px;
      line-height: 25px;
    }

    &__img {
      width: 100px;
      height: auto;
      border-radius: 10px;
    }

    &__selected {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      border: 2px solid rgb(255, 255, 255);

    }

    &__movie-item {
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }



    &__vote {
      flex: 1;
      display: flex;
      align-items: center;
      text-align: start;
      padding: 5px 0px;
    }

    &__count {
      display: flex;
      flex-direction: row;
      align-items: start;
      flex: 1;
      text-align: start;
      padding: 5px 0px;
    }


    &__details-divers {
      width: 100%;
      font-size: 13px;
    }

    &__icon {
      width: 20px;
      height: 20px;
      padding: 5px;
    }

    &__title-overlay {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: rgba(255, 255, 255, 0.1);
      z-index: 1;
    }

    &__selected-title {
      font-size: 6rem;
    }


  }

  @media only screen and (min-width: 1025px) and (max-width: 1400px) {
    &__f-d-box {
      margin-left: 75px;
    }

    &__slider-container {
      margin-right: 0px;

    }

    &__details {
      font-size: 10px;
    }

    &__title {
      font-size: 20px;
    }

    &__overview {
      font-size: 15px;
      line-height: 25px;
    }

    &__img {
      width: 70px;
    }

    &__icon {
      width: 17px;
      height: auto;
      padding: 5px;
    }

    &__selected-title {
      margin: 0px 75px;
      font-size: 5rem;
    }

  }


  @media only screen and (min-width: 1400px) and (max-width: 1700px) {
    &__slider-container {
      margin-right: 0px;
    }

    &__details {
      font-size: 13px;
    }

    &__title {
      font-size: 25px;
    }

    &__overview {
      font-size: 17px;
      line-height: 25px;
    }

    &__img {
      width: 80px;

    }

    &__icon {
      width: 17px;
      height: auto;
      padding: 5px;
    }

    &__selected-title {
      margin: 0px 150px;
      font-size: 8rem;
    }
  }

  @media only screen and (min-width: 820px) and (max-width: 912px) and (min-height: 1180px) and (max-height: 1368px) {

    &__f-d-container {
      width: 100%;
      height: 50%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.4) 80%, transparent 100%);
    }

    &__slider-container {
      margin-right: 0px;

    }

    &__details {
      font-size: 10px;
    }

    &__title {
      font-size: 20px;
    }

    &__overview {
      font-size: 15px;
      line-height: 25px;
    }

    &__img {
      width: 70px;
    }

    &__icon {
      width: 17px;
      height: auto;
      padding: 5px;
    }

    &__selected-title {
      margin: 0px 75px;
      font-size: 5rem;
    }

  }

}