.footer {
    background-color: rgb(0, 0, 0);
        font-family: "Aboreto", sans-serif;
        position: fixed;
        z-index: 3;
        bottom: 0;
        width: 100%;

    &__wrapper {
        margin: 0px 150px;
    }

    &__logo-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }

    &__dev {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

    }

    &__span {
        color: rgb(216, 91, 83);
        margin-right: 5px;
    }

    &__logo {
        width: 20px;
        margin-right: 20px;
    }

    &__title {
        font-size: 20px;
        margin-right: 5px;
    }

    &__text {
        margin: 0;
        font-size: 15px;
        text-align: start;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: white;

        &:focus {
            color: white;
        }

        &:active {
            color: white;
        }
    }

    &__icon-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        width: 25px;
        padding: 20px;
    }

    @media only screen and (min-width: 280px) and (max-width: 480px) {
        padding: 5px 0px;

        &__wrapper {
            margin: 0px 30px;
        }

        &__span {
            color: rgb(216, 91, 83);
            margin-right: 5px;
        }


        &__logo {
            width: 20px;
            margin-right: 5px;
        }

        &__text {
            margin: 0;
            font-size: 5px;
            text-align: center;
        }



        &__icon {
            width: 15px;
            padding: 5px;
        }

    }



    @media screen and (min-width: 481px) and (max-width: 1060px) {


        &__wrapper {
            margin: 0px 75px;
        }

        &__logo-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

        }



        &__span {
            color: rgb(216, 91, 83);
            margin-right: 5px;
        }



        &__title {
            font-size: 15px;
            margin-right: 10px;
        }

        &__text {
            margin: 0;
            font-size: 7px;
            text-align: center;
        }



        &__icon {
            width: 20px;
            padding: 10px;
        }
    }

    @media screen and (min-width: 1060px) and (max-width: 1512px) {


        &__wrapper {
            margin: 0px 150px;
        }

        &__dev {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;

        }



        &__logo {
            width: 25px;
            height: auto;
            margin-right: 5px;
        }

        &__title {
            font-size: 25px;

        }

        &__text {

            font-size: 15px;
            text-align: start;
        }




        &__icon {
            width: 20px;
            padding: 20px;
        }
    }
}