.image {
  width: 300px;
  height: 300px;
}

.country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.country ul li {
  color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5rem;
  list-style: none;
}

.goBack {
  color: black;
  background-color: aqua;
  max-width: fit-content;
  text-decoration: none;
}
