/* CSS -> CSS module -> SASS with CSS module ->Styled Components -> CSS UI Framework (Bootstrap, Tailwind, MUI) */

/* CSS Flex Layout mode */
/* TODO: box-sizing with button not working */

.button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* min-width: 20px;
  height: 48px; */
  width: 170px;
  height: 40px;
  background-color: rgba(216, 91, 83, 0.7);
  border: none;
  padding: 5px 5px;
  border: none;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.8px;
  transition: all 0.3s;
  border-radius: 5px;
  color: white;
  user-select: none;
  -webkit-user-select: none;
  margin-right: 40px;
}

.button:hover,
.button:focus {
  background-color: green;
}

/* 42x60 */

.button--view {
  background-color: #d85b53;
  /* margin-right: 40px; */
}

.button--view:hover {
  width: 175px;
  box-shadow: 6px 0px 0px rgb(255, 255, 255, 0.2);
}

/* Assignment */
.button--view--all {
  background-color: #0bd629;
}

.button--remove {
  background-color: #f71919;
}

.button--back {
  background-color: #1f7fed;
}

.button--get-started {
  background-color: #f731bc;
}

/* 0 - 480px */
/* small screen -> mobile devices */
@media only screen and (max-width: 480px) {
  .button--view {
    background-color: navy;
  }
}

/* medium screen -> tablets */
/* 481-768 */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .button--view {
    background-color: yellowgreen;
  }
}
