:root{
  align-items: center;
}

.button {
  cursor: pointer;
  /* prints in the same line */
  display: inline-flex;   
  justify-content: center;
  align-items: center;
  /* box-sizing makes the height and width same even if the borders margins were added adjustin them inside */
  box-sizing: border-box;
  min-width: 20px;
  height: 48px;
  background-color: rgb(251, 233, 112);
  border: none;
  /* outer space of the box */
  margin: 10px;
  padding: remove;
  border: 3px solid rgb(113, 143, 53);
  display: block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 19px;
  font-weight: 1000;
  letter-spacing: -0.80px;
  transition: all 0.3s;
  border-radius: 5px;
  color: rgb(43, 33, 20);
}
.button:hover{
  background-color: rgb(207, 145, 124);
  box-shadow: 5px 5px 5px 5px rgb(82, 82, 15);  
}

.button--view{
  background-color: rgb(249, 254, 159);
  /* overwriting width for view button; */
  width: 190px;
  color: rgb(117, 94, 60);
}

.button--remove{
  background-color: rgb(236, 224, 224);
  color: rgb(26, 68, 33);
  border: none;
}

.button--view-all{
  background-color: #007bff;
  color: rgb(135, 248, 248);
  border: 3px solid blue;
  border-radius: 10px;
  padding: 10px 20px;
}

.button--back{
  background-color: #f9e4cb;
  color:#056bd8;
  box-sizing: border-box;
  cursor: col-resize;
}


.button--get-started {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: crosshair;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.button--uppercase:hover {
  text-transform: uppercase;
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media only screen and (max-width: 500px) {
  .button--view{
    background-color: rgb(216, 214, 247);
    text-transform: capitalize;
  }
  .button--remove{
    background-color: #df5a5a;
    text-size-adjust: 30px;
    border-bottom: #101614;
    
  }
}
@media only screen and (min-width: 501px) and (max-width: 1000px){
  .button:hover{
    background-color: aqua;
    
  }
}
@media only screen and (min-width: 700px){
  
}