/* CSS -> CSS module -> SASS with CSS module ->Styled Components -> CSS UI Framework (Bootstrap, Tailwind, MUI) */

/* CSS Flex Layout mode */
/* TODO: box-sizing with button not working */

.button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  height: 48px;
  background-color: rgba(216, 91, 83, 0.7);
  border: none;
  padding: 5px 5px;
  border: none;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.8px;
  transition: all 0.3s;
  border-radius: 5px;
  color: white;
  user-select: none;
  -webkit-user-select: none;
}

.button:hover,
.button:focus {
  background-color: green;
}

/* 42x60 */

.button--view {
  background-color: #d85b53;
  width: 170px;
  height: 40px;
  margin-right: 40px;
}

.button--view:hover {
  width: 175px;
  box-shadow: 6px 0px 0px rgb(255, 255, 255, 0.2);
}

/* Assignment */
.button--view--all,
.button--view--all:focus {
  background-color: #1475ba;
  color: white;
}

.button--view--all:hover {
  background-color: #1475babb;
}

.button--remove,
.button--remove:focus {
  background-color: #ba1414;
  color: white;
}

.button--remove:hover {
  background-color: #ba141497;
}

.button--back,
.button--back:focus {
  background-color: #323232;
  color: white;
}

.button--back:hover {
  background-color: #32323292;
}

.button--get-started,
.button--get-started:focus {
  background-color: #d5d814;
  color: black;
}

.button--get-started:hover {
  background-color: #d5d81497;
}

/* 0 - 480px */
/* small screen -> mobile devices */
@media only screen and (max-width: 480px) {
  .button--view {
    background-color: navy;
  }
}

/* medium screen -> tablets */
/* 481-768 */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .button--view {
    background-color: yellowgreen;
  }
}
