/* CSS -> CSS module -> SASS with CSS module ->Styled Components -> CSS UI Framework (Bootstrap, Tailwind, MUI) */

/* CSS Flex Layout mode */
/* TODO: box-sizing with button not working */
.container{
  display: flex;
  justify-content: space-around;
}
.button {
  margin-top: 20px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* min-width: 20px; */
  height: 48px;
  /* background-color: rgba(216, 91, 83, 0.7); */
  border: none;
  /* padding: 5px 5px; */
  border: none;
  font-family: 'Inter', Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.8px;
  transition: all 0.3s;
  border-radius: 5px;
  color: rgb(18, 12, 91);
  user-select: none;
  -webkit-user-select: none;
}

.button:hover,
.button:focus {
  background-color: green;
}

/* 42x60 */

.button--view {
  background-color: #d85b53;
  /* width: 170px;
  height: 40px;
  margin-right: 40px; */
}

.button--view:hover {
  box-shadow: 6px 0px 0px rgb(255, 255, 255, 0.2);
}

/* Assignment */
.button--view--all {
  background-color: aqua;
}
.button--view:hover {
  box-shadow: 6px 0px 0px rgb(255, 255, 255, 0.2);
}

.button--remove {
  background-color: red;
}
.button--remove:hover {
  /* box-shadow: 6px 0px 0px rgba(27, 25, 25, 0.2); */
}

.button--back {
  background-color: rgb(96, 37, 37);
}
.button--back:hover {
  box-shadow: 6px 0px 0px rgb(255, 255, 255, 0.2);
}

.button--get-started {
  background-color: yellowgreen;
} 
.button--get-started {
  box-shadow: 6px 0px 0px rgb(255, 255, 255, 0.2);
}

/* 0 - 480px */
/* small screen -> mobile devices */
@media only screen and (max-width: 480px) {
  .container{

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
  .button {
    background-color: rgb(125, 125, 170);
    max-width: 280px;
  }
}

/* medium screen -> tablets */
/* 481-768 */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .button--view {
    background-color: rgb(108, 114, 98);
    width: 150px;
    height: 36px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .container{
    display: flex;
    flex-direction: column;
  }
  .button {
    margin: 10px; /* Add some margin around each button */
  }
}
