/* CSS Reset */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
}

.page {
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
.btn {
  border: none;
  border-radius: 8px;

  color: white;
  background-color: #176db3;

  padding: 1.25rem 1.75rem;
} */
