* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
}

.page {
  padding: 1rem 5rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-control {
  padding: 1rem;
  font-size: 16px;

  border: 0.8px solid #c9c9c9;
  border-radius: 8px;

  width: 100%;
  box-sizing: border-box;
}

.btn {
  border: none;
  border-radius: 8px;

  color: white;
  background-color: #1b5fc4;

  padding: 0.5rem 1rem;
}

.btn:hover {
  cursor: pointer;
  background-color: #376ec2;
}
